# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
UserSettings/
ExportedObj/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vs/
.idea/
*.suo
*.user
*.userprefs
*.code-workspace

# Visual Studio / JetBrains
*.csproj
*.unityproj
*.sln
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider plugin
Assets/Plugins/Editor/JetBrains*

# Crash logs
sysinfo.txt
crashlytics-build.properties

# Unity addressables and builds
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/
Assets/AddressableAssetsData/*/*.bin*

# Unity packages and mobile builds
*.unitypackage
*.apk
*.aab
*.app
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_45_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_46_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_47_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_48_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_49_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_50_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_53_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_54_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_55_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_53_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_54_d.tga
voidrig/Assets/Material/YughuesFreeMetalMaterials/Textures/T_YFMeM_55_d.tga
